{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls socialfeedsparser_tags %}
{% block object-tools-items %}

{% if original.source == "facebook" %}

<script>
    function statusChangeCallback(response) {
        if (response.authResponse && response.authResponse.accessToken) {
            $('#id_page_access_token').val(response.authResponse.accessToken);
        } else {
            alert('Failed to login! Please try again and allow permissions!')
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '{% settings_value "SOCIALFEEDSPARSER_FACEBOOK_CLIENT_ID" %}',
            cookie: true,
            xfbml: true,
            version: 'v13.0'
        });
    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<li style="padding-top:3px">
    <div>
        <fb:login-button scope="public_profile,pages_read_engagement,pages_read_user_content,pages_show_list"
                         onlogin="checkLoginState();"></fb:login-button>
    </div>
</li>
{% endif %}

{{ block.super }}
{% endblock %}
